@keyframes glow {
    from {
        text-shadow: 0 0 5px var(--accent-yellow);
    }
    to {
        text-shadow: 0 0 10px var(--accent-yellow), 0 0 30px var(--accent-yellow);
    }
}

@keyframes slide-right {
    0%{
        transform: translateX(500px);
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-left {
    0%{
        transform: translateX(-500px);
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}